# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Playwright Session Data (Sangat Rahasia!)
user_data/
clipboard_cache/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

issue/

GOOGLE_SERVICE_ACCOUNT_KEY.json